.category {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  padding: 0.5em;
}

.hotelCategory h2 {
  padding: 0 0 1em 1em;
  text-align: center;
  color: blue;
}
.categories {
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 1em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
}
.categoryList img {
  width: 50px;
}
.categoryList span {
  padding-top: 0.5em;
}
