.category {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  padding: 2em;
}
.hotelCategory h2 {
  padding-bottom: 1em;
  text-align: center;
  color: blue;
  font-size: 35px;
}
.categories {
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b4efa7;
  color: black;
  padding: 1em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.categoryList img {
  width: 50px;
}
