.category {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  padding: 2em;
}
.hotelCategory h2 {
  padding-bottom: 1em;
  text-align: center;
  color: red;
  text-decoration: underline;
  font-size: 30px;
}
.categories {
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  background-color: #3f7438;
  color: white;
  padding: 1em;
}
.categoryList img {
  width: 50px;
}
