.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  background-color: #aedbb8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); /* Ajoutez ces lignes */
}

.filters select,
.filters1 {
  /* display: flex; */
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* width: 80%; */
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #325b3b;
  width: auto;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #3f7438;
  border-radius: 1em;

  box-shadow: 0 5px 1px rgba(0, 0, 0, 1);
}
.filters1[type="button"] {
  background-color: hsla(113, 35%, 34%, 0.792);
}
.filters1[type="button"]:hover {
  background-color: #325b3b;
}
.filters select:hover {
  background-color: #136540;
}

.filters select option {
  font-size: 1.5em;
}
