footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 2em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.footer-img {
  height: 5em;
}
