.instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 3rem;
    margin: 2rem 5rem; 
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    text-align: justify;
    line-height: 2;
    flex-grow: 1;
}
.logoInstruction {
    width: 10vw;
}
.titleHomePage{
   padding: 1rem;
   align-items: center;
   text-align: center;
}
.contentList .contentListchild{
    line-height: 2;
}
span {
    text-decoration-line: underline;
    color: var(--secondary-color);
  }
.titleActivity{
    text-align: center;
}
.btnHomepage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}
.userBtn {
    padding: 0.75rem;
    font-size: 1rem;
    color: var(--color-text);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}
.userBtn:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}