* {
  margin: 0;
  padding: 0;
}

navbar {
  height: 10%;
  width: 100%;
  background: linear-gradient(45deg, #1a201f, #325b3b);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.liste {
  display: flex;
  height: 10%;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  list-style-type: none;
}
.items {
  display: flex;
  padding: 0 30px;
  font-size: 25px;
  font-family: "Biryani", sans-serif;
}

.icon {
  width: 5vw;
  border-radius: 1rem 1rem;
  margin: 1rem;
}

.logo {
  width: 10vw;
  border-radius: 1rem 1rem;
  margin: 1rem;
}

