.surveyQuestion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2em;
  justify-content: center;
  box-sizing: border-box;
  width: 70%;
  margin: auto;
}
.questions {
  display: flex;
  flex-direction: column;
  border: 1px solid #3f7438;
  list-style: none;
  text-align: justify;
  padding: 1em;
  border-radius: 1em;
  font-size: 18px;
}
.questionList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.questionContent {
  gap: 1rem;
}
.mandatoryLevel {
  color: blue;
  padding-left: 2rem;
  font-size: 12px;
  font-style: italic;
  color: grey;
}
.answer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1em 1em 0 0;
  text-align: justify;
}
.answerChoice {
  display: flex;
  flex-direction: row;
  color: hsl(181, 35%, 46%);
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.questionBtn {
  background-color: #3f7438;
  padding: 1em;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}
.questionBtn:hover {
  color: black;
}

.tooltip {
  background-color: #4c9d9e;
  border-radius: 1rem;
  border-style: outset;
  font-size: 12px;
}
.test {
  width: fit-content;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  color: rgb(225, 219, 219);
  font-size: 18px;
  cursor: pointer;
}
.tabel-survey {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* border-radius: 1em; */
}
.tabel-survey .survey-th {
  background-color: hsla(113, 35%, 34%, 0.792);
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  border: 1px solid black;
}
.tabel-survey .survey-td {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}
