.surveyQuestions {
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 70%;
  margin: auto;
}
.questionList {
  display: flex;
  flex-direction: column;
  border: 1px solid #3f7438;
  list-style: none;
  text-align: justify;
}
.mandatoryLevel {
  color: blue;
}
.tooltipContent {
  color: red;
}
.tooltipContent span {
  color: rgb(2, 2, 2);
  font-weight: bold;
}
.answerChoice {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}
.pageBtn {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
/* .answersList {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
  } */
