.score {
  background-image: url("../assets/background_adt.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 70% bottom 45%;
}
.title-score {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: justify;
  margin: auto;
  gap: 2rem;
  font-size: 18px;
  width: 700px;
  padding: 3em;
  border-radius: 1em;
  border: 2px solid #63ba58;
  line-height: 2em;
  background-color: white;
}
.title-score h1,
h2,
h3 {
  color: blue;
}
.btn-container {
  display: grid;
  justify-items: center;
  gap: 3rem;
  align-items: center;
  padding: 3em;
}
.small-contact {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: repeat(1, 50px);
  align-items: center;
  background-color: #3f7438;
  padding: 0.5em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}
.contact-text {
  color: white;
  font-size: 18px;
  text-align: center;
}
.contact-text:hover {
  color: black;
}
.case-three {
  color: blue;
}
.score1 {
  color: blue;
}
.score2 {
  color: #3f7438;
}
.score3 {
  color: hsl(181, 35%, 46%);
}
.case-two {
  color: red;
  font-weight: bold;
}
