* {
  background-color: linear-gradient(45deg, #3f7438, #1a201f);
}
.dashboard-wrapper {
  height: 100vh;
  /* display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "a a"
    "b c"
    "b d"
    "e e"; */
  display: flex;
  flex-direction: column;
}

.Navadmin {
  grid-area: a;
  background: linear-gradient(45deg, #1a201f, #325b3b);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.btnSidebar {
  grid-area: b;
}
.filters {
  grid-area: c;
}
/* 
footer {
  grid-area: e;
} */

.central-area {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
  flex-grow: 1;
}
.central-area1 {
  text-align: center;
  color: blue;
  padding-bottom: 2rem;
}

.logo {
  height: 4rem;
  border-radius: 1rem 1rem;
  margin: 1rem;
}
.central-answer {
  text-align: center;
}
.central-answer1 {
  font-size: 16px;
  padding: 1rem;
  align-items: center;
  flex-grow: 1;
  background-color: none;
}
