.nav {
  background: linear-gradient(45deg, #1a201f, #3f7438);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  list-style-type: none;
}

.icon {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem 1rem;
  margin: 1rem;
  margin-top: 4rem;
}

.logo {
  height: 3rem;
  border-radius: 1rem 1rem;
  margin: 1rem;
}

/*NAVBAR USER*/
.containerNavbarUser {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 2em;
  background-color: white;
}

.logoUser {
  padding: 0.5rem;
}

.logoUser img {
  height: 5em;
  padding: 1em;
}

/*NAVBAR ADMIN*/
.Navadmin {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #1a201f;
  margin-bottom: 2em;
  background-color: white;
  margin: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.Logoadmin {
  height: 5rem;
  border-radius: 1rem 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 1);
  border-color: #0000ff;
}

.btnProfil {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 3rem;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  background-color: #aedbb8;
  border-color: #0000ff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.btnSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: #3f7438;
  border-right: 1px solid #1a201f;
  background: linear-gradient(350deg, #3f7438, #1a201f);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.btnSidebar button {
  border-radius: 3rem;
  background-color: #aedbb8;
  line-height: 2rem;
  font-size: large;
  width: 10rem;
  border-color: #0000ff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 1);
}
