.nav {
  height: 100rem;
  width: 10rem;
  background: linear-gradient(45deg, #1a201f, #325b3b);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liste {
  display: flex;
  height: 35rem;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  list-style-type: none;
}

.icon {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem 1rem;
  margin: 1rem;
  margin-top: 4rem;
}

.logo {
  height: 3rem;
  border-radius: 1rem 1rem;
  margin: 1rem;
}

/*NAVBAR USER*/
.containerNavbarUser {
  width: 100%;
  height: 5em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin-bottom: 2em;
}
.logoUser img {
  height: 3em;
  top: 0;
  z-index: 10;
  padding: 1em;
}
