* {
  margin: auto;
}

.legal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  gap: 1.5rem;
  font-size: 0.9rem;
  width: 37.5rem;
  padding: 1.5em;
  border-radius: 1em;
  border: 1px solid #3f7438;
  padding: 2rem;
  height: 80%;
  font-family: "Monsterrat", sans-serif;
}

.logo-adt {
  width: 10rem;
}

.buttonHome {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem auto 2rem;
  padding: 0.75rem;
  border: 1px solid #3f7438;
  border-radius: 1em;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  background-color: #f7f7f7;
  width: 6rem;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}
