.container-legal {
  background-image: url("../assets/background-marne.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.legal {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: justify;
  margin: auto;
  gap: 2rem;
  font-size: 16px;
  width: 700px;
  padding: 3em;
  border-radius: 1em;
  border: 2px solid #3f7438;
  background-color: white;
  line-height: 2em;
  margin-bottom: 2rem;
}

.logo-adt {
  width: 10rem;
}

.buttonHome {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem auto 2rem;
  padding: 0.75rem;
  border: 1px solid #3f7438;
  border-radius: 1em;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
  background-color: #3f7438;
  width: 10rem;
  text-decoration: none;
  color: white;
}
.buttonHome:hover {
  color: black;
}
a:link {
  text-decoration: none;
}
