.background {
  background-image: url("../assets/adtmarne.jpeg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  border-radius: 1em;
  width: 15rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.connection {
  text-align: center;
  font-size: 1.5rem;
}
.login-form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 1rem 0;
}
.login-form-input label {
  font-size: 18px;
}
.login-form-input input {
  padding: 4px;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
.loginButton {
  cursor: pointer;
  letter-spacing: 1.5px;
  background-color: #3f7438;
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
  color: white;
  border: 2px solid #3f7438;
  border-radius: 1em;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn-user {
  display: flex;
  justify-content: center;
}
