.background {
  background-image: url("../assets/adtmarne.jpeg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  border-radius: 1em;
  width: 50vh;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.logoRegister {
  margin: 0;
}
.creationaccount {
  text-align: center;
}
.register-form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 1rem 0;
}
.register-form-input label {
  font-size: 18px;
}
.register-form-input input {
  padding: 4px;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

.registerUser {
  display: flex;
  flex-direction: column;
  padding: 0.1rem 5rem;
  border-radius: 1em;
  width: 15rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.buttonRegister {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  cursor: pointer;
  outline: none;
  border: none;
  letter-spacing: 1.5px;
  font-weight: 500;
  background-color: #325b3b;
  width: auto;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  border: 2px solid #3f7438;
  border-radius: 1em;
}

.btn-register {
  display: flex;
  justify-content: center;
}

p {
  padding-top: 1vh;
}
