* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* font-size: 1rem; */
}
#root {
  --primary-color : #3f7438;
  --secondary-color : blue;
  --customized-hover-color : hsl(181,35%,46%);
  --color-text : white;
  --border-radius : 10px;
}

.App {
  height: 100vh;
  width: 100vw;
}
.home {
  display: flex;
  flex-direction: column;
}

